
@font-face {
  font-family: 'bold';
  src: url('/public/fonts/bold.ttf');
}

@font-face {
  font-family: 'normal';
  src: url('/public/fonts/normal.ttf');
}

*{
  font-family: 'normal';
  margin: 0;
}